In [2]:
import pandas as pd

In [4]:
startTrips = pd.read_json('./json/startTrips.json')
endTrips = pd.read_json('./json/endTrips.json')
bus_lines = pd.read_json('./json/bus_lines.json')

## Create bus station dataset

In [5]:
bus_stations = []

for trip in startTrips['station_list']:
    for station in trip:
        if station not in bus_stations:
            bus_stations.append(station)

bus_stations = pd.DataFrame(bus_stations)
bus_stations

      station_name station_id  longitude  station_seq exist_bus  latitude
0        Ланс Эцэс  100000059  106.97135            1         N  47.70680
1           Ланс 2  100000057  106.96721            2         N  47.70371
2           Ланс 1  100000055  106.96376            3         N  47.70284
3           Гандан  100000054  106.96151            4         N  47.70511
4           60 айл  100000049  106.95182            5         N  47.70987
...            ...        ...        ...          ...       ...       ...
1863         ТЭЦ-3  000000636  106.86723           11         N  47.89963
1864  Олимп хотхон  000000724  106.86052           12         N  47.89865
1865       Саппоро  000000005  106.85172           15         Y  47.91280
1866    Цамбагарав  000000007  106.84530           16         Y  47.91235
1867    Цамбагарав  000000006  106.84736           17         N  47.91220

[1868 rows x 6 columns]

In [6]:
bus_stations = bus_stations.drop_duplicates(subset=['station_id']).reset_index(drop=True)
bus_stations

,station_name,station_id,longitude,station_seq,exist_bus,latitude
0,Ланс Эцэс,100000059,106.97135,1,N,47.70680
1,Ланс 2,100000057,106.96721,2,N,47.70371
2,Ланс 1,100000055,106.96376,3,N,47.70284
3,Гандан,100000054,106.96151,4,N,47.70511
4,60 айл,100000049,106.95182,5,N,47.70987
...,...,...,...,...,...,...
841,Далан,000000785,107.08337,9,N,47.91589
842,2-ын Буудал,000000683,106.99638,2,N,47.90508
843,Дүнжингарав дэлгүүр,000000684,107.00387,3,N,47.90687
844,БЗД 6-р хороо,000000404,106.93656,13,N,47.91280
845,Шинэ үе дунд сургууль,000000309,106.92738,14,N,47.91258

# From start to end

In [ ]:
startTrips['station_list'] = startTrips['station_list'].apply(lambda x: [station['station_id'] for station in x])
startTrips.head()

In [46]:
startTrips.to_csv('start_trips.csv', index=False, encoding='utf-8-sig')

# From end to start

In [ ]:
endTrips['station_list'] = endTrips['station_list'].apply(lambda x: [station['station_id'] for station in x])
endTrips.head()

In [48]:
endTrips.to_csv('end_trips.csv', index=False, encoding='utf-8-sig')

# Bus line

In [49]:
bus_lines_json = pd.read_json('./bus_lines.json')
bus_lines_json.to_csv('bus_lines.csv', index=False, encoding='utf-8-sig')

# Position

In [10]:
position = bus_stations[['station_id', 'latitude', 'longitude']]
position

    station_id  latitude  longitude
0    100000059  47.70680  106.97135
1    100000057  47.70371  106.96721
2    100000055  47.70284  106.96376
3    100000054  47.70511  106.96151
4    100000049  47.70987  106.95182
..         ...       ...        ...
841  000000785  47.91589  107.08337
842  000000683  47.90508  106.99638
843  000000684  47.90687  107.00387
844  000000404  47.91280  106.93656
845  000000309  47.91258  106.92738

[846 rows x 3 columns]

In [11]:
position.to_csv("position.csv", index=False, encoding="utf-8-sig")

In [12]:
# Remove latitude and longitude columns
bus_stations = bus_stations.drop(['latitude', 'longitude'], axis=1)
bus_stations.to_csv('bus_stations.csv', index=False, encoding='utf-8-sig')

# Merge two trip data sets

In [ ]:
startTrips = pd.read_csv("./csv/start_trips.csv");
startTrips['direction'] = "start"

In [15]:
endTrips = pd.read_csv("./csv/end_trips.csv");
endTrips['direction'] = "end"

In [19]:
bus_trip = pd.concat([startTrips, endTrips]).reset_index(drop=True)
bus_trip.to_csv('bus_trip.csv', index=False, encoding='utf-8-sig')